@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  @font-face {
    font-family: "roboto-regular";
    src: url("/roboto-regular.woff2");
  }

  @font-face {
    font-family: "roboto-meduim";
    src: url("/roboto-meduim.woff2");
  }

  @font-face {
    font-family: "roboto-bold";
    src: url("/roboto-bold.woff2");
  }
}

@theme {
  --font-roboto-regular: "roboto-regular";
  --font-roboto-meduim: "roboto-meduim";
  --font-roboto-bold: "roboto-bold";
  --shadow-card: 0 0 1px 1px #0003;
  /* BreakPoints */
  --breakpoint-xs: 30rem;
}
